[inspect-html] {
  position: relative;
  
  &:hover::after {
    position: absolute;
    top: 0;
    right: 0;
    content: '<>';
    padding: 5px 10px;
    color: white;
    font-size: 12pt;
    font-weight: 600;
    background-color: purple;
  }
}
